@{Layout = "layout";}
@* @using SwishMapper.Models.Data *@

@foreach (var model in Model.Models.OrderBy(x => x.Name))
{
    <h1>@Model.Name Mapping<br/>@model.Name</h1>

    <ul class="toc">
        @foreach (var entity in model.Entities.OrderBy(x => x.Name))
        {
            <li><a href="#@entity.Name">@entity.Name</a></li>

            <ul>
                @foreach (var attribute in entity.Attributes.OrderBy(x => x.Name))
                {
                    <li class="subitem"><a href="#@entity.Name.@attribute.Name">@attribute.Name</a></li>
                }
            </ul>
        }
    </ul>

    @foreach (var entity in model.Entities.OrderBy(x => x.Name))
    {
        <h2 id="@entity.Name">@entity.Name Entity</h2>

        @foreach (var attribute in entity.Attributes.OrderBy(x => x.Name))
        {
            <h3 id="@entity.Name.@attribute.Name">@attribute.Name Attribute</h3>

            @* - - - General Attribute Info - - - *@

            <table>
                <thead>
                    <tr>
                        <th colspan="2">Attribute Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Model Entity</td><td><a href="@entity.ModelUrl">@entity.Name</a></td></tr>
                    <tr><td>Model Attribute</td><td><a href="@attribute.ModelUrl">@attribute.Name</a></td></tr>
                    <tr><td>Data Type</td><td>@attribute.DataType</td></tr>
                </tbody>
            </table>


            @* - - - Mappings - - - *@

            <table>
                <thead>
                    <tr>
                        <th colspan="3">Mappings</th>
                    </tr>
                    <tr>
                        <th>Map</th>
                        <th>Target XPath</th>
                        <th>Expression</th>
                    </tr>
                </thead>
                <tbody>
                    @if (attribute.Maps.Count > 0)
                    {
                        foreach (var map in attribute.Maps)
                        {
                            <tr>
                                <td>@map.Id</td>
                                <td>@map.TargetAttribute.XPath</td>
                                <td>@map.Expression</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <td colspan="3" class="highlight center">None!</td>
                    }
                </tbody>
            </table>


            @* - - - Notes - - - *@

            @if (attribute.Notes.Count > 0)
            {
                <table>
                    <thead class="muted">
                        <tr>
                            <th colspan="2">Notes</th>
                        </tr>
                        <tr>
                            <th>Map</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var note in attribute.Notes)
                        {
                            <tr>
                                <td>@note.MapId</td>
                                <td>@note.Note</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }


            @* - - - Examples - - - *@

            @if (attribute.Examples.Count > 0)
            {
                <table>
                    <thead class="muted">
                        <tr>
                            <th colspan="4">Examples</th>
                        </tr>
                        <tr>
                            <th>Map</th>
                            <th>Key</th>
                            <th colspan="2">Values</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var example in attribute.Examples)
                        {
                            <tr>
                                <td rowspan="2">@example.MapId</td>
                                <td rowspan="2">@example.ExampleId</td>
                                <td class="right title">Target</td>
                                <td>@example.Target</td>
                            </tr>
                            <tr>
                                <td class="right title">Expression</td>
                                <td>@example.Expression</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    }
}

