@{Layout = "layout";}

<h1>@Model.Name Model</h1>

<h2>Entities</h2>

@foreach (var entity in Model.Entities.OrderBy(x => x.Name))
{
    <h3>@entity.Name</h3>

    <table>
        <thead>
            <tr>
                <th colspan="2">Details</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Comment</td>
                <td>@entity.Comment</td>
            </tr>
            <tr>
                <td>Sources</td>
                <td>@string.Join(", ", entity.Sources.Select(x => x.ShortName).OrderBy(x => x))</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th colspan="5">Attributes</th>
            </tr>
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Data Type</th>
                <th colspan="2">Occurs</th>
                <th rowspan="2">Comment</th>
            </tr>
            <tr>
                <th>Min</th>
                <th>Max</th>
            </tr>
        <thead>
        <tbody>
            @foreach (var attribute in entity.Attributes.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@attribute.Name</td>
                    <td>@attribute.DataType</td>
                    <td class="right">@attribute.MinOccurs</td>
                    <td class="right">@attribute.MaxOccurs</td>
                    <td>@attribute.Comment</td>
                </tr>
            }
        </tbody>
    </table>
}


<h2>Data Model Sources</h2>

<table>
    <thead>
        <tr>
            <th>Short Name</th>
            <th>Path</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var source in Model.Sources.OrderBy(x => x.ShortName))
        {
            <tr>
                <td>@source.ShortName</td>
                <td>@source.Path</td>
            </tr>
        }
    </tbody>
</table>

