@{Layout = "layout";}

<h1>@Model.Name Model</h1>

<h2>Entities</h2>

@foreach (var entity in Model.Entities.OrderBy(x => x.Name))
{
    <h3>@entity.Name</h3>

    <table>
        <thead>
            <tr>
                <th colspan="2">Details</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Comment</td>
                <td>@entity.Comment</td>
            </tr>
            <tr>
                <td>Sources</td>
                <td>@string.Join(", ", entity.Sources.Select(x => x.ShortName).OrderBy(x => x))</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th colspan="6">Attributes</th>
            </tr>
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Data Type</th>
                <th colspan="2">Occurs</th>
                <th rowspan="2">Sources</th>
                <th rowspan="2">Comment</th>
            </tr>
            <tr>
                <th>Min</th>
                <th>Max</th>
            </tr>
        <thead>
        <tbody>
            @foreach (var attribute in entity.Attributes.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@attribute.Name</td>
                    <td>@attribute.DataType</td>
                    <td class="right">@attribute.MinOccurs</td>
                    <td class="right">@attribute.MaxOccurs</td>
                    <td>@string.Join(", ", attribute.Sources.Select(x => x.ShortName).OrderBy(x => x))</td>
                    <td>@attribute.Comment</td>
                </tr>
            }
        </tbody>
    </table>

    @if (entity.HasSamples)
    {
        <table>
            <thead>
                <tr>
                    <th colspan="4">Samples</th>
                </tr>
                <tr>
                    <th>Attribute</th>
                    <th>Sample</th>
                    <th>Path</th>
                    <th>Top 5 Values</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attribute in entity.Attributes.Where(x => x.Samples.Count > 0).OrderBy(x => x.Name))
                {
                    var first = true;
                    foreach (var sample in attribute.Samples)
                    {
                        <tr>
                            @if (first)
                            {
                                first = false;
                                <td rowspan="@attribute.Samples.Count">@attribute.Name</td>
                            }
                            <td>@sample.SampleId</td>
                            <td>@sample.Path</td>
                            <td>@string.Join(", ", @sample.Top5)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}


<h2>Data Model Sources</h2>

<table>
    <thead>
        <tr>
            <th>Short Name</th>
            <th>Path</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var source in Model.Sources.OrderBy(x => x.ShortName))
        {
            <tr>
                <td>@source.ShortName</td>
                <td>@source.Path</td>
            </tr>
        }
    </tbody>
</table>

