@{Layout = "layout";}

<h1>@Model.Name Model</h1>

@foreach (var entity in Model.Entities.OrderBy(x => x.Name))
{
    <h2>@entity.Name</h2>

    <table>
        <thead>
            <tr>
                <th colspan="5">Attributes</th>
            </tr>
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Data Type</th>
                <th colspan="2">Occurs</th>
                <th rowspan="2">Comment</th>
            </tr>
            <tr>
                <th>Min</th>
                <th>Max</th>
            </tr>
        <thead>

        <tbody>
            @foreach (var attribute in entity.Attributes.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@attribute.Name</td>
                    <td>@attribute.DataType</td>
                    <td class="right">@attribute.MinOccurs</td>
                    <td class="right">@attribute.MaxOccurs</td>
                    <td>@attribute.Comment</td>
                </tr>
            }
        </tbody>
    </table>
}
